<div class="flexbox">
    <section class="outline">
        <h3>Join Up to Start Quizzing</h3>
        <form action="submit" class="sign-up-form">
            <label for="username">Enter Your Username</label>
            <input type="text" placeholder="Username" id="username-register" name="username-register" class="form-input" />
            </br></br>
            <label for="password">Enter Your Password</label>
            <input type="password" placeholder="Password" id="password-register" name="password-register" class="form-input" />
            </br></br>
            <input type="submit" value="Submit" id="btn-register" class="btn btn-success float-right">
        </form>
    </section>

    <section class="outline">
        <h2>Already a User? Log In!</h2>
        <form action="submit" class="sign-in-form">
            <label for="username">Enter Your Username</label>
            <input type="text" placeholder="Username" id="username-login" name="username-login" class="form-input" />
            </br></br>
            <label for="password">Enter Your Password</label>
            <input type="password" placeholder="Password" id="password-login" name="password-login" class="form-input" />
            </br></br>
            <input type="submit" value="Log In" id="btn-login" class="btn btn-success float-right">
        </form>
    </section>
</div>

<script src="/javascript/login-page.js"></script>