</br></br>

    <h1 class="text-center">Congratulations!</h1>
</br></br>
    <h2 class="text-center" id="endScore">Score: </h2>

    <div class="flexbox-single">
        <section class="outline">
            <h4 class="text-center">Highscores:</h4>
                <ol class="d-flex flex-column align-items-center">
                    <li id="highScore" class="text-start">User 1</li>
                    <li id="highScore" class="text-start">User 2</li>
                    <li id="highScore" class="text-start">User 3</li>
                    <li id="highScore" class="text-start">User 4</li>
                    <li id="highScore" class="text-start">User 5</li>
                </ol>
            <h4 class="text-center" id="quizPercentile">Percentile:</h4>
            <h4 class="text-center" id="timeSpent">Time Spent:</h4>
        </section>
    </div>

</br></br>

    <div class="flexbox">
        <button class="btn btn-success" onclick="startQuiz()">Retake Quiz</button>
        <a href="/quizsearch"><button class="btn btn-success">Take Another Quiz</button></a>
    </div>
